* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(156, 85, 222);
    padding: 16px 0;
    display: flex;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    border-bottom: 16px solid rgb(128, 69, 183);
}

header button {
    margin-left: 16px;
}

form {
    background-color: lightgray;
    padding: 24px 0;
    text-align: center;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: darkgreen;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;
}